
.details-holder{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-top: 10px;
}

.airports-list{
    display: flex;
    justify-content: space-between;
}

.list-items{
    list-style-type: none;
}

.checkbox{
    margin-top: 0px;
}
.table-holder{
    text-align: left;
}
.table-data label{
    display: flex;
    align-items: center;
}
.table-head label{
    display: flex;
    align-items: center;
    margin-top: 0;
    
}


.table-head label .ISsn1a_spectrum-Checkbox-label, .table-data label .ISsn1a_spectrum-Checkbox-label{
    margin-top: 0;
}

/* Define styles for the table */
table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed into a single border */
  }
  
  /* Define styles for table headers */
  th {
    border: 1px solid #ddd; /* Border style for header cells */
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2; /* Background color for header cells */
  }
  
  /* Define styles for table cells */
  td {
    border: 1px solid #ddd; /* Border style for data cells */
    padding: 8px;
    text-align: left;
  }
  
  /* Define hover effect on table rows */
  tr:hover {
    background-color: #f5f5f5; /* Background color on hover */
  }
  .icons {
    font-size: 18px;
    margin-right: 5px;
    margin-left: 9px;
    margin-top: 25px;
}